.site-main {
	padding: 0 1rem;
}

.sticky {
	display: block;
}

.entry {
	margin-bottom: 2rem;
}

.entry__header {
	margin-bottom: 1rem;
}

.entry__title {
	margin-bottom: 0;
}

.entry__meta {
	font-size: 0.85rem;
}

// TODO: išsiaiškinti ar šita taisyklė nesugadina full-width ir wide taisyklių veikimo.
// Čia to reikia, tam atvejui, kai įraše yra plaukiojantis (float) elementas, kuris aukštesnis už viso įrašo aukštį.
.entry__content, // be šito entry__footer būna šalia viso teksto, o ne po plaukiojančiu elementu.
.entry__footer {
	@include clearfix-full();
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1rem 0 0;
}

.entry__footer {
	margin-top: 1.5rem;
}

.page-links {
	@include clearfix-full();
	margin: 0 0 1.5em;
}

.post-thumbnail {
	display: block;
	margin-top: 1.5rem;
}
