$breakpoint__large-menu: 1000px;

.main-navigation {
	position: relative;

	width: 100%;
	background-color: $color__dark;

	.primary-menu-container {
		display: none;

		border-top: 3px solid #fff;

		&.toggled {
			display: block;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	a {
		display: flex;
		align-items: center;

		padding: 1rem;

		color: $color__gray-100;
		line-height: 1;

		text-decoration: none;

		&:focus,
		&:active,
		&:hover {
			text-decoration: underline;
		}

		&:hover {
			background-color: $color__gray-700;
		}
	}

	.menu {
		padding: 0 1rem;
	}

	.sub-menu {
		display: none;

		a {
			padding: 1rem 2rem;
		}

		.sub-menu {
			a {
				padding: 1rem 3rem;
			}
		}
	}

	.menu-item--toggled-on {
		background-color: darken($color__dark, 5%);

		> .sub-menu {
			display: block;
			background-color: darken($color__dark, 5%);

			.sub-menu {
				background-color: darken($color__dark, 12%);
			}
		}
	}

	.dropdown-divider {
		margin: 0;
	}

	@media screen and ( min-width: $breakpoint__large-menu ) {
		background-color: $color__dark;

		// Flex naudojama, kad galima būtų papildomus navigacijos juostos elementus (socialinis meniu, paieškos formos perjungimo mygtukas, ir t.t.) lygiuoti dešinėje.
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.menu-toggle {
			display: none;
		}

		.primary-menu-container {
			display: block;
			border-top: none;
		}

		ul {
			background-color: transparent;

			li {
				position: relative;
			}
		}

		.menu {
			display: flex;
			padding: 0;
		}

		.sub-menu {
			position: absolute;
			top: 100%;
			left: 0;
			min-width: calc( 100% + 1rem );
			max-width: 280px;

			a {
				background-color: $color__gray-700;

				white-space: nowrap;

				padding: 1rem;

				&:focus,
				&:hover {
					outline: none;
					background-color: $color__dark;
				}
			}

			.sub-menu {
				a {
					padding: 1rem;
				}
			}

			.sub-menu {
				top: 0;
				left: 100%;
			}
		}
	}
} // END .main-navigation

// Mobilaus meniu perjungimo mygtukas.
.menu-toggle {
	border: none;
	border-radius: 0;
	background-color: $color__dark;
	color: $color__gray-100;
	line-height: 1;

	padding: 1rem;

	cursor: pointer;
}

// Tuščias <span> elementas <a> elemento viduje už teksto.
.caret {
	display: inline-block;
	width: 7px;
	height: 4px;
	margin-left: 6px;

	color: $color__gray-100;

	background: transparent;
	background-color: $color__gray-100;
	mask-image: url( $dropdown-symbol__to-bottom-white );
	// background: url( $dropdown-symbol__to-bottom-white );
	background-repeat: no-repeat;
	background-size: 7px 4px;


	@media screen and ( min-width: $breakpoint__large-menu ) {
		.sub-menu & {
			transform: rotate(-90deg);
			transform-origin: left bottom;

			margin-top: 2px;
			margin-left: 10px;

			background-color: $color__gray-100;
		}
	}
}
