html,
body {
	overflow-x: hidden;

	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	overflow-y: auto;

	&.admin-bar {
		height: calc( 100vh - 48px );

		@media screen and ( min-width: 783px ) {
			height: calc( 100vh - 32px );
		}
	}

	&.post,
	&.page {
		margin: 0;
	}
}

.site {
	display: grid;
	align-items: start;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"content"
		"footer";

	height: 100%;
}

.site-header {
	grid-area: header;
}

.site-content {
	height: 100%;
}

.sidebar-primary {
	grid-area: sidebar-primary;
}

.sidebar-secondary {
	grid-area: sidebar-secondary;
}

.site-footer {
	grid-area: footer;
}

.site-content {
	height: 100%;
	padding: 2px;

	display: grid;
	gap: 2px;
	grid-template-columns: 1fr;

	grid-area: content;

	.content-area {
		grid-area: content-area;
	}

	.no-sidebars & {
		grid-template-rows: 1fr;

		grid-template-areas:
			"content-area"
		;
	}

	.has-sidebars--one-sidebar & {
		grid-template-rows: auto 1fr;

		grid-template-areas:
			"content-area"
			"widgets-area"
		;

		.widgets-area {
			grid-area: widgets-area;
		}

		@media screen and ( min-width: 640px ) {
			grid-template-columns: min( $size__site-sidebar--primary, 240px )  1fr;
			grid-template-rows: auto 1fr;

			grid-template-areas:
				"widgets-area content-area"
				"widgets-area content-area"
			;
		}

		@media screen and ( min-width: 768px ) {
			grid-template-columns: $size__site-sidebar--primary 1fr;
		}

		@media screen and ( min-width: 1360px ) {
			grid-template-columns: max( $size__site-sidebar--primary, 400px ) 1fr;
		}
	}

	.has-sidebars--one-sidebar.has-sidebars--secondary-sidebar & {
		@media screen and ( min-width: 640px ) {
			grid-template-columns: 1fr min( $size__site-sidebar--secondary, 240px );
			grid-template-rows: auto 1fr;

			grid-template-areas:
				"content-area widgets-area"
				"content-area widgets-area"
			;
		}

		@media screen and ( min-width: 768px ) {
			grid-template-columns: 1fr $size__site-sidebar--secondary;
		}

		@media screen and ( min-width: 960px ) {
			grid-template-columns: 1fr max( $size__site-sidebar--secondary, 300px );
		}

		@media screen and ( min-width: 1360px ) {
			grid-template-columns: 1fr max( $size__site-sidebar--secondary, 400px );
		}
	}

	.has-sidebars--two-sidebars & {
		grid-template-rows: auto auto 1fr;

		grid-template-areas:
			"content-area"
			"sidebar-primary"
			"sidebar-secondary"
		;

		@media screen and ( min-width: 480px ) {
			grid-template-columns: 50% 50%;
			grid-template-rows: auto 1fr;

			grid-template-areas:
				"content-area content-area"
				"sidebar-primary sidebar-secondary"
			;
		}

		@media screen and ( min-width: 640px ) {
			grid-template-columns: $size__site-sidebar--min-one-of-two 1fr;
			grid-template-rows: auto 1fr;

			grid-template-areas:
				"sidebar-primary content-area"
				"sidebar-secondary content-area"
			;
		}

		@media screen and ( min-width: 768px ) {
			grid-template-columns: $size__site-sidebar--max-one-of-two 1fr;
		}

		@media screen and ( min-width: 1000px ) {
			grid-template-columns: $size__site-sidebar--primary 1fr $size__site-sidebar--secondary;
			grid-template-rows: 1fr;

			grid-template-areas:
				"sidebar-primary content-area sidebar-secondary"
			;
		}

		@media screen and ( min-width: 1600px ) {
			grid-template-columns: max( $size__site-sidebar--primary, 300px ) 1fr max( $size__site-sidebar--secondary, 300px );
		}

		@media screen and ( min-width: 1920px ) {
			grid-template-columns: max( $size__site-sidebar--primary, 400px ) 1fr max( $size__site-sidebar--secondary, 400px );
		}
	}
}
