$color__dark: #3e3e3e;
$color__gray-100: #f0f0f0;
$color__gray-700: #3e3e3e;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #3e3e3e;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $color__dark;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__dark; //royalblue
$color__link-visited: $color__gray-700; //purple
$color__link-hover: darken( $color__dark, 50% ); //midnightblue
$color__text-main: $color__dark;

// top left/right bottom
$color__border-button: #3e3e3e;
$color__border-button-hover: #f0f0f0;
$color__border-button-focus: #f0f0f0;
$color__border-input: #ccc;
$color__border-abbr: #666;
