.site-header {
	p {
		margin: 0;
	}
}

.header-image {
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 0;

	img {
		display: block;
		margin: 0 auto;
	}
}

.site-branding {
	text-align: center;
	background-color: #2c86ba;
	color: #fff;

	&.header-background-image {
		background-repeat: no-repeat;
		background-size: cover;

		.site-title-box {
			background: rgba(0, 0, 0, 0.7);
		}
	}

	@media screen and (min-width: 640px) {
		padding: 1rem 0;
	}
}

.site-title-box {
	padding: 1rem 1.25rem;
	border: 1px solid #fff;

	@media screen and (min-width: 640px) {
		width: 600px;
		max-width: 75%;
		margin: 0 auto;
	}
}

.site-title {
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	text-decoration: none;
	line-height: normal;
	padding-bottom: 0.5rem;

	a {
		color: #fff;
	}
}

.site-description {
	font-weight: 100;
	font-size: 1.5rem;
}
