// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin font-smoothing() {
	// Font antialising on Mac OS X
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin clearfix-full() {
	&::before,
	&::after {
		@include clearfix();
	}

	&::after {
		@include clearfix-after();
	}
}
